section{
    font-size: 0.85rem;
    font-weight:bold;
    margin-top: 0.75rem;
    margin-right:0.75rem;
    text-transform:uppercase;
    background-color: #ecebea;
    border-radius:5px;
    padding:0.25rem;
}
img{
    padding-right:0.5rem; 
}